.star {
  position: absolute;
  pointer-events: none; /* Evita que las estrellas interfieran con otros eventos del mouse */
}
.star::before {
  content: "\f005";
  position: absolute;
  font-family: fontAwesome;
  color: rgb(150, 187, 255);
  animation: moveShape 1s linear forwards;
}
@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(100px) rotate(100deg);
    opacity: 0;
  }
}
